<div class="personal-contact-box" data-aos="fade-right" data-aos-duration="1000">
    <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action"
            [ngClass]="{ active: currentSection === 'list-item-1' }" (click)="scrollTo('list-item-1')"
            href="javascript:void(0);" (click)="setActiveLink('list-item-1')">
            <img src="assets/img/icons/home1.svg" alt="" />
            <span>Home</span>
        </a>
        <a class="list-group-item list-group-item-action" (click)="scrollTo('list-item-2')"
            [ngClass]="{ active: currentSection === 'list-item-2' }" href="javascript:void(0);"
            (click)="setActiveLink('list-item-2')">
            <img src="assets/img/icons/home2.svg" alt="" />
            <span>About Us</span>
        </a>
        <a class="list-group-item list-group-item-action"
            [ngClass]="{ active: currentSection === 'list-item-3' }" (click)="scrollTo('list-item-3')"
            href="javascript:void(0);" (click)="setActiveLink('list-item-3')">
            <img src="assets/img/icons/home3.svg" alt="" />
            <span>Our Service</span>
        </a>
        <a class="list-group-item list-group-item-action"
            [ngClass]="{ active: currentSection === 'list-item-4' }" (click)="scrollTo('list-item-4')"
            href="javascript:void(0);" (click)="setActiveLink('list-item-4')">
            <img src="assets/img/icons/home4.svg" alt="" />
            <span>My Skill</span>
        </a>
        <a class="list-group-item list-group-item-action"
            [ngClass]="{ active: currentSection === 'list-item-5' }" (click)="scrollTo('list-item-5')"
            href="javascript:void(0);" (click)="setActiveLink('list-item-5')">
            <img src="assets/img/icons/home5.svg" alt="" />
            <span>Portfolio</span>
        </a>
        <a class="list-group-item list-group-item-action"
            [ngClass]="{ active: currentSection === 'list-item-6' }" (click)="scrollTo('list-item-6')"
            href="javascript:void(0);" (click)="setActiveLink('list-item-6')">
            <img src="assets/img/icons/home5.svg" alt="" />
            <span>LLenroc Custom Portfolio</span>
        </a>
        <a class="list-group-item list-group-item-action"
            [ngClass]="{ active: currentSection === 'list-item-7' }" (click)="scrollTo('list-item-7')"
            href="javascript:void(0);" (click)="setActiveLink('list-item-7')">
            <img src="assets/img/icons/home6.svg" alt="" />
            <span>Testimonial</span>
        </a>
        <a class="list-group-item list-group-item-action"
            [ngClass]="{ active: currentSection === 'list-item-8' }" (click)="scrollTo('list-item-8')"
            href="javascript:void(0);" (click)="setActiveLink('list-item-8')">
            <img src="assets/img/icons/home8.svg" alt="" />
            <span>Our Blog</span>
        </a>
        <a class="list-group-item list-group-item-action m-0"
            [ngClass]="{ active: currentSection === 'list-item-9' }" (click)="scrollTo('list-item-9')"
            href="javascript:void(0);" (click)="setActiveLink('list-item-9')">
            <img src="assets/img/icons/home7.svg" alt="" />
            <span>Contact Us</span>
        </a>
        <a class="list-group-item list-group-item-action m-0"
            [ngClass]="{ active: currentSection === 'list-item-10' }" (click)="scrollTo('list-item-10')"
            href="javascript:void(0);" (click)="setActiveLink('list-item-10')">
            <img src="assets/img/icons/home7.svg" alt="" />
            <span>AI ASSISTANT</span>
        </a>
        <a class="list-group-item list-group-item-action m-0"
            routerLink="/checkout" routerLinkActive="active">
            <img src="assets/img/icons/payment-dollar.svg" alt="" />
            <span>Payment</span>
        </a>
        <a class="list-group-item list-group-item-action m-0"
            routerLink="/forms" routerLinkActive="active">
            <img src="assets/img/icons/payment-dollar.svg" alt="" />
            <span>Privacy Forms</span>
        </a>

    </div>
    <div class="img1 image-anime reveal" appGsapReveal>
        <img src="assets/img/all-images/hero/llenroc_logo_yellow.png" alt="">
    </div>
    <div class="space18"></div>
    <h3>Cornell Reddick</h3>
    <div class="space16"></div>
    <p>Hi, I’m Cornell, a dedicated Full Stack Software Engineer with 6+ years of experience building scalable, secure, and user-focused applications.</p>
    <div class="space32"></div>
    <ul>
        <li>
            <a href="https://x.com/Llenroctech" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/icons/s-icon1.svg" alt="Twitter / X">
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/llenroc_tech/" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/icons/s-icon2.svg" alt="Instagram">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/profile.php?id=61579963070844" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/icons/s-icon3.svg" alt="Facebook">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/company/llenroc-tech/" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/icons/s-icon4.svg" alt="LinkedIn">
            </a>
        </li>
        <!-- <li>
            <a href="https://dribbble.com/YourHandle" target="_blank" rel="noopener noreferrer" class="m-0">
                <img src="assets/img/icons/s-icon5.svg" alt="Dribbble">
            </a>
        </li> -->
    </ul>

    <div class="space44"></div>
    <div class="btn-area1 text-center">
        <a href="assets/img/all-images/hero/cCornell_Master_Resume_2025-09-11.docx" download class="vl-btn1">Download Now <img
                src="assets/img/icons/download1.svg" alt=""></a>
    </div>
    <div class="space32"></div>
    <p>© {{year}} LLENROC . All Rights Reserved.</p>
</div>
